Repository DDog-org/daengle-client, pull requests merged in 2024-11, with the labels that each got.

#33 [Feature/design-system] 스토리북 환경 설정 및 배포
  .github/workflows/check-pr-title.yml
  .github/workflows/deploy-storybook.yml
  .prettierignore
  README.md
  apps/admin/package.json
  apps/daengle/package.json
  apps/groomer/package.json
  apps/storybook/.gitignore
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/README.md
  apps/storybook/package.json
  apps/storybook/vite.config.ts
  apps/vet/package.json
  commitlint.config.ts
  eslint.config.js
  package.json
  packages/design-system/package.json
  packages/design-system/src/components/index.ts
  packages/design-system/src/index.ts
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.lint.json
  packages/design-system/turbo/generators/config.ts
  packages/design-system/turbo/generators/templates/component.hbs
  packages/eslint-config/index.js
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/index.ts
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
  pnpm-lock.yaml
  turbo.json
Labels: ✨ feature, 📦 package

#53 [Design/groomer] 미용사 견적서 리스트 UI 구현 #42
  apps/groomer/next.config.mjs
  apps/groomer/src/pages/sheet-list/index.tsx
  packages/services/src/index.ts
  packages/services/src/sheet/components/sheet-list/index.styles.ts
  packages/services/src/sheet/components/sheet-list/index.tsx
  packages/services/tsconfig.json
  pnpm-lock.yaml
Labels: 🎨 design, 🪽 groomer

#59 [Feature/design-system]: Text 컴포넌트 구현
  apps/storybook/stories/text/index.stories.tsx
  packages/core/design-system/src/components/index.ts
  packages/core/design-system/src/components/text/index.tsx
  packages/core/design-system/src/components/text/tags.ts
  packages/core/design-system/src/foundation/colors.ts
  packages/core/design-system/src/foundation/index.ts
  packages/core/design-system/src/foundation/normalize.css
  packages/core/design-system/src/foundation/theme.ts
  packages/core/design-system/src/foundation/typography.ts
Labels: ✨ feature, 📦 package

#61 [Feature/design-system]: Input 컴포넌트 구현
  apps/storybook/.storybook/preview.tsx
  apps/storybook/stories/input/index.stories.tsx
  packages/core/design-system/src/components/index.ts
  packages/core/design-system/src/components/input/index.styles.ts
  packages/core/design-system/src/components/input/index.tsx
  packages/core/design-system/src/components/input/index.types.ts
  packages/core/design-system/src/components/text/index.tsx
  packages/core/design-system/src/foundation/typography.ts
Labels: ✨ feature, 📦 package

#49 [Feature/package] 카카오 로그인 api 연동
  apps/daengle/package.json
  apps/daengle/src/api/api.ts
  apps/daengle/src/api/oauth/index.tsx
  apps/daengle/src/pages/_app.tsx
  apps/daengle/src/pages/auth/callback/index.tsx
  apps/daengle/src/pages/auth/index.module.scss
  apps/daengle/src/pages/auth/index.tsx
  apps/daengle/src/pages/login/index.module.scss
  apps/daengle/src/pages/login/index.tsx
  apps/daengle/src/queries/oauth/index.tsx
  apps/daengle/src/queries/query-keys.ts
  package.json
  packages/services/tsconfig.json
  pnpm-lock.yaml
Labels: ✨ feature

#69 [Feature/design-system] GNB 컴포넌트 구현
  apps/storybook/.svgrrc.cjs
  apps/storybook/package.json
  apps/storybook/stories/gnb/constants.tsx
  apps/storybook/stories/gnb/index.stories.tsx
  apps/storybook/stories/public/icons/gnb_chatting_active.svg
  apps/storybook/stories/public/icons/gnb_chatting_inactive.svg
  apps/storybook/stories/public/icons/gnb_home_active.svg
  apps/storybook/stories/public/icons/gnb_home_inactive.svg
  apps/storybook/stories/public/icons/gnb_my_active.svg
  apps/storybook/stories/public/icons/gnb_my_inactive.svg
  apps/storybook/stories/public/icons/gnb_reservation_active.svg
  apps/storybook/stories/public/icons/gnb_reservation_inactive.svg
  apps/storybook/stories/public/icons/gnb_sheet_active.svg
  apps/storybook/stories/public/icons/gnb_sheet_inactive.svg
  packages/core/design-system/.svgrrc.cjs
  packages/core/design-system/package.json
  packages/core/design-system/public/icons/gnb_chatting_active.svg
  packages/core/design-system/public/icons/gnb_chatting_inactive.svg
  packages/core/design-system/public/icons/gnb_home_active.svg
  packages/core/design-system/public/icons/gnb_home_inactive.svg
  packages/core/design-system/public/icons/gnb_my_active.svg
  packages/core/design-system/public/icons/gnb_my_inactive.svg
  packages/core/design-system/public/icons/gnb_reservation_active.svg
  packages/core/design-system/public/icons/gnb_reservation_inactive.svg
  packages/core/design-system/public/icons/gnb_sheet_active.svg
  packages/core/design-system/public/icons/gnb_sheet_inactive.svg
  packages/core/design-system/src/components/gnb/index.styles.ts
  packages/core/design-system/src/components/gnb/index.tsx
  packages/core/design-system/src/components/index.ts
  packages/core/design-system/src/foundation/colors.ts
  packages/core/design-system/src/icons/GnbChattingActive.tsx
  packages/core/design-system/src/icons/GnbChattingInactive.tsx
  packages/core/design-system/src/icons/GnbHomeActive.tsx
  packages/core/design-system/src/icons/GnbHomeInactive.tsx
  packages/core/design-system/src/icons/GnbMyActive.tsx
  packages/core/design-system/src/icons/GnbMyInactive.tsx
  packages/core/design-system/src/icons/GnbReservationActive.tsx
  packages/core/design-system/src/icons/GnbReservationInactive.tsx
  packages/core/design-system/src/icons/GnbSheetActive.tsx
  packages/core/design-system/src/icons/GnbSheetInactive.tsx
  packages/core/design-system/src/icons/index.ts
  packages/core/design-system/svgr.index.template.js
  packages/core/design-system/svgr.template.js
Labels: ✨ feature, 📦 package

#70 [Feature/design-system] Button 컴포넌트 구현
  apps/storybook/.storybook/preview.tsx
  apps/storybook/stories/button/capsule-button/index.stories.tsx
  apps/storybook/stories/button/round-button/index.stories.tsx
  apps/storybook/stories/button/text-button/index.stories.tsx
  packages/core/design-system/public/icons/button_text_button_arrow.svg
  packages/core/design-system/public/icons/gnb_home_active.svg
  packages/core/design-system/public/icons/gnb_home_inactive.svg
  packages/core/design-system/public/icons/gnb_my_active.svg
  packages/core/design-system/public/icons/gnb_my_inactive.svg
  packages/core/design-system/src/components/button/capsule-button/index.styles.ts
  packages/core/design-system/src/components/button/capsule-button/index.tsx
  packages/core/design-system/src/components/button/capsule-button/index.types.ts
  packages/core/design-system/src/components/button/index.ts
  packages/core/design-system/src/components/button/round-button/index.styles.ts
  packages/core/design-system/src/components/button/round-button/index.tsx
  packages/core/design-system/src/components/button/round-button/index.types.ts
  packages/core/design-system/src/components/button/text-button/index.styles.ts
  packages/core/design-system/src/components/button/text-button/index.tsx
  packages/core/design-system/src/components/index.ts
  packages/core/design-system/src/components/text/index.tsx
  packages/core/design-system/src/foundation/colors.ts
  packages/core/design-system/src/icons/ButtonTextButtonArrow.tsx
  packages/core/design-system/src/icons/index.ts
Labels: ✨ feature, 📦 package

#75 [Feature/daengle] 사용자 프로필 등록 UI 구현
  apps/daengle/src/pages/onboarding/pet-info/index.tsx
  apps/daengle/src/pages/onboarding/user-info/index.styles.ts
  apps/daengle/src/pages/onboarding/user-info/index.tsx
  apps/storybook/stories/app-bar/index.stories.tsx
  apps/storybook/stories/button/capsule-button/index.stories.ts
  apps/storybook/stories/button/cta-button/index.stories.ts
  apps/storybook/stories/gnb/constants.tsx
  packages/core/design-system/public/icons/app_bar_back.svg
  packages/core/design-system/public/icons/gnb_estimate_active.svg
  packages/core/design-system/public/icons/gnb_estimate_inactive.svg
  packages/core/design-system/public/icons/gnb_home_active.svg
  packages/core/design-system/public/icons/gnb_home_inactive.svg
  packages/core/design-system/public/icons/gnb_my_active.svg
  packages/core/design-system/public/icons/gnb_my_inactive.svg
  packages/core/design-system/src/components/app-bar/index.styles.ts
  packages/core/design-system/src/components/app-bar/index.tsx
  packages/core/design-system/src/components/button/cta-button/index.styles.ts
  packages/core/design-system/src/components/button/cta-button/index.tsx
  packages/core/design-system/src/components/button/index.ts
  packages/core/design-system/src/components/button/round-button/index.styles.ts
  packages/core/design-system/src/components/button/round-button/index.types.ts
  packages/core/design-system/src/components/index.ts
  packages/core/design-system/src/components/input/index.styles.ts
  packages/core/design-system/src/components/input/index.tsx
  packages/core/design-system/src/components/layout/index.styles.ts
  packages/core/design-system/src/foundation/theme.ts
  packages/core/design-system/src/icons/AppBarBack.tsx
  packages/core/design-system/src/icons/GnbEstimateActive.tsx
  packages/core/design-system/src/icons/GnbEstimateInactive.tsx
  packages/core/design-system/src/icons/GnbHomeActive.tsx
  packages/core/design-system/src/icons/GnbHomeInactive.tsx
  packages/core/design-system/src/icons/GnbMyActive.tsx
  packages/core/design-system/src/icons/GnbMyInactive.tsx
  packages/core/design-system/src/icons/index.ts
Labels: 🎨 design, 🐶 daengle

#77 [Feature/daengle] 주소 등록 api 연동
  apps/daengle/package.json
  apps/daengle/src/constants/routes.ts
  apps/daengle/src/libs/libs.d.ts
  apps/daengle/src/libs/postcode/index.d.ts
  apps/daengle/src/libs/postcode/index.tsx
  apps/daengle/src/pages/onboarding/search-address/index.styles.ts
  apps/daengle/src/pages/onboarding/search-address/index.tsx
  apps/daengle/src/pages/onboarding/user-info/index.tsx
  apps/daengle/src/store/onboarding/address.ts
  apps/daengle/tsconfig.json
  packages/core/design-system/src/components/button/cta-button/index.styles.ts
  packages/services/src/onboarding/api/index.ts
  packages/services/src/onboarding/index.ts
  pnpm-lock.yaml
Labels: ✨ feature, 🐶 daengle

#83 [Fix/design-system] Layout 컴포넌트 padding값 optional로 변경
  packages/core/design-system/src/components/layout/index.styles.ts
  packages/core/design-system/src/components/layout/index.tsx
Labels: 🐛 bug, 📦 package

#84 [Feature/design-system] App bar 컴포넌트 구현
  apps/storybook/stories/app-bar/index.stories.ts
  apps/storybook/stories/gnb/constants.tsx
  apps/storybook/stories/layout/index.stories.tsx
  packages/core/design-system/public/icons/app_bar_back.svg
  packages/core/design-system/public/icons/gnb_estimate_active.svg
  packages/core/design-system/public/icons/gnb_estimate_inactive.svg
  packages/core/design-system/public/icons/gnb_home_active.svg
  packages/core/design-system/public/icons/gnb_home_inactive.svg
  packages/core/design-system/public/icons/gnb_my_active.svg
  packages/core/design-system/public/icons/gnb_my_inactive.svg
  packages/core/design-system/src/components/app-bar/index.styles.ts
  packages/core/design-system/src/components/app-bar/index.tsx
  packages/core/design-system/src/components/index.ts
  packages/core/design-system/src/icons/AppBarBack.tsx
  packages/core/design-system/src/icons/GnbEstimateActive.tsx
  packages/core/design-system/src/icons/GnbEstimateInactive.tsx
  packages/core/design-system/src/icons/GnbHomeActive.tsx
  packages/core/design-system/src/icons/GnbHomeInactive.tsx
  packages/core/design-system/src/icons/GnbMyActive.tsx
  packages/core/design-system/src/icons/GnbMyInactive.tsx
  packages/core/design-system/src/icons/index.ts
  packages/services/src/index.ts
  packages/services/src/onboarding/api/index.ts
  packages/services/src/onboarding/index.ts
  packages/services/tsconfig.json
Labels: ✨ feature, 📦 package
