Repository DDog-org/daengle-client, pull requests merged in 2024-12, with the labels that each got.

#320 [Feature/daengle] 사용자 예약 리스트 & 상세조회 api 연동
  apps/daengle/src/apis/reservation/index.ts
  apps/daengle/src/components/estimate/groomer-card-list/index.tsx
  apps/daengle/src/components/estimate/option/index.tsx
  apps/daengle/src/components/estimate/partners-profile/index.tsx
  apps/daengle/src/components/estimate/pet-profile/index.styles.ts
  apps/daengle/src/components/estimate/request/request-estimate/index.tsx
  apps/daengle/src/components/estimate/vet-card-list/index.tsx
  apps/daengle/src/components/mypage/payments/groomer-list/index.tsx
  apps/daengle/src/components/mypage/payments/vet-list/index.tsx
  apps/daengle/src/components/reservations/groomer-list/index.tsx
  apps/daengle/src/components/reservations/reservations-card/index.tsx
  apps/daengle/src/components/reservations/vet-list/index.tsx
  apps/daengle/src/constants/commons/routes.ts
  apps/daengle/src/interfaces/estimate/index.ts
  apps/daengle/src/interfaces/reservation/index.ts
  apps/daengle/src/models/reservation/index.ts
  apps/daengle/src/pages/estimates/complete/index.tsx
  apps/daengle/src/pages/estimates/detail/[id]/index.tsx
  apps/daengle/src/pages/estimates/index.tsx
  apps/daengle/src/pages/mypage/payments/index.tsx
  apps/daengle/src/pages/mypage/reviews/index.tsx
  apps/daengle/src/pages/payments/complete/index.tsx
  apps/daengle/src/pages/payments/order/index.tsx
  apps/daengle/src/pages/reservations/[id]/index.tsx
  apps/daengle/src/pages/reservations/index.tsx
  apps/daengle/src/queries/estimate/index.ts
  apps/daengle/src/queries/query-keys.ts
  apps/daengle/src/queries/reservation/index.ts
  apps/groomer/src/components/estimate/designation-card-list/index.tsx
  apps/groomer/src/pages/estimates/[id]/index.tsx
  apps/vet/src/components/estimate/designation-card-list/index.tsx
  packages/core/design-system/public/icons/black_unfold_arrow.svg
  packages/core/design-system/public/icons/empty_star.svg
  packages/core/design-system/public/icons/filled_star.svg
  packages/core/design-system/src/icons/BlackUnfoldArrow.tsx
  packages/core/design-system/src/icons/EmptyStar.tsx
  packages/core/design-system/src/icons/FilledStar.tsx
  packages/core/design-system/src/icons/index.ts
Labels: ✨ feature, 🐶 daengle

#325 [Design/daengle] 사용자 마이페이지 화면 퍼블리싱
  apps/daengle/src/interfaces/auth/index.ts
  apps/daengle/src/pages/mypage/index.tsx
  packages/core/design-system/public/icons/profile_arrow_button.svg
  packages/core/design-system/src/icons/ProfileArrowButton.tsx
  packages/core/design-system/src/icons/index.ts
Labels: 🎨 design, 🐶 daengle

#327 [Story/daengle] 결제 오류 해결
  apps/daengle/src/interfaces/payment/index.ts
  apps/daengle/src/models/payment/index.ts
  apps/daengle/src/pages/payments/complete/index.tsx
  apps/daengle/src/pages/payments/order/index.tsx
  packages/core/design-system/src/icons/SelectUnfoldActive.tsx
  packages/core/design-system/src/icons/SelectUnfoldInactive.tsx
  pnpm-lock.yaml
Labels: 🐛 bug, 📖 story, 🐶 daengle

#336 [Story/daengle] 사용자는 미용사/병원과 채팅을 할 수 있다
  apps/daengle/package.json
  apps/daengle/src/apis/chat/index.ts
  apps/daengle/src/apis/index.ts
  apps/daengle/src/components/chats/chat-list-item/index.styles.ts
  apps/daengle/src/components/chats/chat-list-item/index.tsx
  apps/daengle/src/components/chats/groomer-chat-list/index.tsx
  apps/daengle/src/components/chats/index.ts
  apps/daengle/src/components/chats/vet-chat-list/index.tsx
  apps/daengle/src/components/mypage/reviews/vet-card-list/index.tsx
  apps/daengle/src/components/review/groomer-review-edit/index.tsx
  apps/daengle/src/components/review/vet-review-edit/index.tsx
  apps/daengle/src/interfaces/auth/index.ts
  apps/daengle/src/interfaces/chat/index.ts
  apps/daengle/src/interfaces/index.ts
  apps/daengle/src/models/chat/index.ts
  apps/daengle/src/pages/chats/[chatId]/index.tsx
  apps/daengle/src/pages/chats/index.tsx
  apps/daengle/src/pages/estimates/index.tsx
  apps/daengle/src/pages/index.tsx
  apps/daengle/src/pages/mypage/index.tsx
  apps/daengle/src/pages/mypage/payments/index.tsx
  apps/daengle/src/pages/mypage/reviews/index.tsx
  apps/daengle/src/pages/reservations/index.tsx
  apps/daengle/src/pages/reviews/[id]/form/index.tsx
  apps/daengle/src/queries/chat/index.ts
  apps/daengle/src/queries/index.ts
  apps/daengle/src/queries/query-keys.ts
  apps/groomer/src/pages/estimates/index.tsx
  apps/groomer/src/pages/estimates/success/index.tsx
  apps/vet/src/pages/estimates/index.tsx
  packages/core/design-system/public/icons/chat_default_profile_image.svg
  packages/core/design-system/public/icons/chat_item_menu.svg
  packages/core/design-system/public/icons/chat_plus.svg
  packages/core/design-system/public/icons/chat_send_button.svg
  packages/core/design-system/src/components/button/capsule-button/index.styles.ts
  packages/core/design-system/src/components/button/capsule-button/index.tsx
  packages/core/design-system/src/components/button/capsule-button/index.types.ts
  packages/core/design-system/src/components/chat/bubble/index.styles.ts
  packages/core/design-system/src/components/chat/bubble/index.tsx
  packages/core/design-system/src/components/chat/bubble/index.types.ts
  packages/core/design-system/src/components/chat/index.ts
  packages/core/design-system/src/components/chat/input-form/index.styles.ts
  packages/core/design-system/src/components/chat/input-form/index.tsx
  packages/core/design-system/src/components/index.ts
  packages/core/design-system/src/components/tabs/tabs/index.styles.ts
  packages/core/design-system/src/components/tabs/tabs/index.tsx
  packages/core/design-system/src/foundation/global-style.tsx
  packages/core/design-system/src/foundation/normalize.css
  packages/core/design-system/src/foundation/theme.ts
  packages/core/design-system/src/icons/ChatDefaultProfileImage.tsx
  packages/core/design-system/src/icons/ChatItemMenu.tsx
  packages/core/design-system/src/icons/ChatPlus.tsx
  packages/core/design-system/src/icons/ChatSendButton.tsx
  packages/core/design-system/src/icons/index.ts
  packages/core/design-system/tsconfig.json
  packages/services/package.json
  packages/services/src/hooks/index.ts
  packages/services/src/hooks/use-stomp/index.ts
  packages/services/src/utils/format/index.ts
  pnpm-lock.yaml
Labels: 📖 story, 🐶 daengle

#341 [Feature/groomer] 미용사는 마이페이지를 확인할 수 있다.
  apps/groomer/src/apis/auth/index.ts
  apps/groomer/src/constants/commons/routes.ts
  apps/groomer/src/models/auth/index.ts
  apps/groomer/src/pages/mypage/index.tsx
  apps/groomer/src/queries/auth/index.ts
  apps/groomer/src/queries/query-keys.ts
  packages/core/design-system/public/icons/heart.svg
  packages/core/design-system/public/icons/paw.svg
  packages/core/design-system/src/icons/Heart.tsx
  packages/core/design-system/src/icons/Paw.tsx
  packages/core/design-system/src/icons/SelectUnfoldActive.tsx
  packages/core/design-system/src/icons/SelectUnfoldInactive.tsx
  packages/core/design-system/src/icons/index.ts
Labels: ✨ feature, 🪽 groomer

#358 [Task/admin] 어드민 프로젝트 제거
  README.md
  apps/admin/.gitignore
  apps/admin/.nvmrc
  apps/admin/.stylelintrc.json
  apps/admin/README.md
  apps/admin/next.config.mjs
  apps/admin/package.json
  apps/admin/public/mockServiceWorker.js
  apps/admin/src/mocks/environments/browser.ts
  apps/admin/src/mocks/environments/node.ts
  apps/admin/src/mocks/handlers/index.ts
  apps/admin/src/mocks/init-msw.ts
  apps/admin/src/pages/_app.tsx
  apps/admin/src/pages/index.tsx
  apps/admin/tsconfig.json
  commitlint.config.ts
  package.json
  packages/services/src/apis/config/index.ts
  pnpm-lock.yaml
Labels: ✅ task

#354 [Feature/daengle] 사용자 예약 리스트 & 상세 조회 api 연동
  apps/daengle/src/components/estimate/card-list/index.tsx
  apps/daengle/src/components/reservations/reservations-card/index.tsx
  apps/daengle/src/models/reservation/index.ts
  apps/daengle/src/pages/estimates/index.tsx
  apps/daengle/src/pages/reservations/[id]/index.tsx
Labels: ✨ feature, 🐶 daengle

#360 [Feature/design-system] Dialog & Toast 컴포넌트 구현
  apps/daengle/src/pages/_document.tsx
  apps/daengle/src/pages/index.tsx
  packages/core/design-system/public/icons/partner_toast_check.svg
  packages/core/design-system/public/icons/toast_check.svg
  packages/core/design-system/src/components/dialog/index.styles.ts
  packages/core/design-system/src/components/dialog/index.tsx
  packages/core/design-system/src/components/dim/index.styles.ts
  packages/core/design-system/src/components/dim/index.tsx
  packages/core/design-system/src/components/index.ts
  packages/core/design-system/src/components/portal/index.tsx
  packages/core/design-system/src/components/toast/index.styles.ts
  packages/core/design-system/src/components/toast/index.tsx
  packages/core/design-system/src/foundation/colors.ts
  packages/core/design-system/src/foundation/theme.ts
  packages/core/design-system/src/icons/PartnerToastCheck.tsx
  packages/core/design-system/src/icons/ToastCheck.tsx
  packages/core/design-system/src/icons/index.ts
  pnpm-lock.yaml
Labels: ✨ feature, 📦 package

#373 [Task/design-system] 에러 처리를 위한 Dialog & Toast 컴포넌트 구현
  apps/daengle/.gitignore
  apps/daengle/next.config.mjs
  apps/daengle/package.json
  apps/daengle/sentry.client.config.ts
  apps/daengle/sentry.edge.config.ts
  apps/daengle/sentry.server.config.ts
  apps/daengle/src/instrumentation.ts
  apps/daengle/src/pages/404.tsx
  apps/daengle/src/pages/_app.tsx
  apps/daengle/src/pages/_document.tsx
  apps/daengle/src/pages/_error.tsx
  apps/daengle/src/pages/index.tsx
  apps/groomer/src/pages/_app.tsx
  apps/groomer/src/pages/_document.tsx
  apps/vet/src/pages/_app.tsx
  apps/vet/src/pages/_document.tsx
  packages/core/design-system/public/icons/partner_toast_check.svg
  packages/core/design-system/public/icons/toast_check.svg
  packages/core/design-system/src/components/dialog/index.styles.ts
  packages/core/design-system/src/components/dialog/index.tsx
  packages/core/design-system/src/components/dim/index.styles.ts
  packages/core/design-system/src/components/dim/index.tsx
  packages/core/design-system/src/components/index.ts
  packages/core/design-system/src/components/portal/index.tsx
  packages/core/design-system/src/components/toast/index.styles.ts
  packages/core/design-system/src/components/toast/index.tsx
  packages/core/design-system/src/foundation/colors.ts
  packages/core/design-system/src/foundation/theme.ts
  packages/core/design-system/src/hooks/index.ts
  packages/core/design-system/src/hooks/use-dialog/index.tsx
  packages/core/design-system/src/hooks/use-toast/index.tsx
  packages/core/design-system/src/icons/PartnerToastCheck.tsx
  packages/core/design-system/src/icons/ToastCheck.tsx
  packages/core/design-system/src/icons/index.ts
  packages/core/design-system/src/index.ts
  pnpm-lock.yaml
Labels: 📦 package, ✅ task

#372 [Story/daengle] 사용자는 병원 상세 정보를 확인할 수 있다.
  apps/daengle/src/apis/detail/index.ts
  apps/daengle/src/components/estimate/groomer-card-list/index.tsx
  apps/daengle/src/components/estimate/vet-card-list/index.tsx
  apps/daengle/src/components/main/action-sheet/index.tsx
  apps/daengle/src/constants/commons/routes.ts
  apps/daengle/src/constants/detail/index.ts
  apps/daengle/src/models/detail/index.ts
  apps/daengle/src/pages/payments/complete/index.tsx
  apps/daengle/src/pages/payments/order/index.tsx
  apps/daengle/src/pages/vets/[vetId]/index.tsx
  apps/daengle/src/queries/detail/index.ts
  apps/daengle/src/queries/query-keys.ts
  packages/core/design-system/public/icons/detail_call.svg
  packages/core/design-system/public/icons/detail_location.svg
  packages/core/design-system/public/icons/detail_time.svg
  packages/core/design-system/public/icons/paw.svg
  packages/core/design-system/public/images/shop-default-image.svg
  packages/core/design-system/public/images/vet-default-image.svg
  packages/core/design-system/src/components/app-bar/index.styles.ts
  packages/core/design-system/src/components/button/cta-button/index.styles.ts
  packages/core/design-system/src/components/button/round-button/index.styles.ts
  packages/core/design-system/src/components/button/round-button/index.types.ts
  packages/core/design-system/src/icons/DetailCall.tsx
  packages/core/design-system/src/icons/DetailLocation.tsx
  packages/core/design-system/src/icons/DetailTime.tsx
  packages/core/design-system/src/icons/Paw.tsx
  packages/core/design-system/src/icons/index.ts
  packages/core/design-system/src/images/ShopDefaultImage.tsx
  packages/core/design-system/src/images/VetDefaultImage.tsx
  packages/core/design-system/src/images/index.ts
Labels: 📖 story, 🐶 daengle

#376 [Design/daengle] 사용자 검색페이지 화면 퍼블리싱
  apps/daengle/next.config.mjs
  apps/daengle/src/components/search/groomer-list/index.styles.ts
  apps/daengle/src/components/search/groomer-list/index.tsx
  apps/daengle/src/components/search/item/index.styles.ts
  apps/daengle/src/components/search/item/index.tsx
  apps/daengle/src/components/search/search-bar/index.tsx
  apps/daengle/src/components/search/tag-button/index.styles.ts
  apps/daengle/src/components/search/tag-button/index.tsx
  apps/daengle/src/components/search/vet-list/index.styles.ts
  apps/daengle/src/components/search/vet-list/index.tsx
  apps/daengle/src/pages/search/index.tsx
  packages/core/design-system/public/icons/gray_search_icon.svg
  packages/core/design-system/src/components/app-bar/index.tsx
  packages/core/design-system/src/components/chips/chip-toggle-button/index.styles.ts
  packages/core/design-system/src/components/tag/index.styles.ts
  packages/core/design-system/src/components/tag/index.tsx
  packages/core/design-system/src/components/tag/index.types.ts
  packages/core/design-system/src/foundation/colors.ts
  packages/core/design-system/src/icons/GraySearchIcon.tsx
  packages/core/design-system/src/icons/index.ts
Labels: 🎨 design, 🐶 daengle

#345 [Story/vet] 병원은 마이페이지를 확인할 수 있다.
  apps/vet/src/apis/auth/index.ts
  apps/vet/src/constants/commons/routes.ts
  apps/vet/src/models/auth/index.ts
  apps/vet/src/pages/mypage/index.tsx
  apps/vet/src/queries/auth/index.ts
  apps/vet/src/queries/query-keys.ts
  packages/core/design-system/public/icons/ heart.svg
  packages/core/design-system/public/icons/carousel_left.svg
  packages/core/design-system/public/icons/carousel_right.svg
  packages/core/design-system/public/icons/detail_time.svg
  packages/core/design-system/src/icons/CarouselLeft.tsx
  packages/core/design-system/src/icons/CarouselRight.tsx
  packages/core/design-system/src/icons/DetailTime.tsx
  packages/core/design-system/src/icons/index.ts
Labels: 📖 story, 🏥 vet

#377 [Refactor/groomer] 미용사 서비스 에러 처리 및 흐름 정리
  apps/daengle/src/components/estimate/card-list/index.tsx
  apps/daengle/src/components/estimate/groomer-card-list/index.tsx
  apps/daengle/src/components/estimate/vet-card-list/index.tsx
  apps/daengle/src/queries/auth/index.ts
  apps/groomer/src/apis/auth/index.ts
  apps/groomer/src/apis/config/index.ts
  apps/groomer/src/components/estimate/designation-card-list/index.styles.ts
  apps/groomer/src/components/estimate/designation-card-list/index.tsx
  apps/groomer/src/components/estimate/general-card-list/index.styles.ts
  apps/groomer/src/components/estimate/general-card-list/index.tsx
  apps/groomer/src/components/onboarding/groomer-info/index.tsx
  apps/groomer/src/hooks/estimate/index.ts
  apps/groomer/src/hooks/estimate/use-validate-estimate-form.ts
  apps/groomer/src/hooks/index.ts
  apps/groomer/src/hooks/mypage/use-validate-groomer-form.ts
  apps/groomer/src/interfaces/auth/index.ts
  apps/groomer/src/interfaces/estimate/index.ts
  apps/groomer/src/models/auth/index.ts
  apps/groomer/src/pages/auth/kakao/callback/index.tsx
  apps/groomer/src/pages/chats/[chatRoomId]/index.tsx
  apps/groomer/src/pages/estimates/[estimateId]/index.tsx
  apps/groomer/src/pages/estimates/[id]/index.tsx
  apps/groomer/src/pages/estimates/complete/index.tsx
  apps/groomer/src/pages/estimates/index.tsx
  apps/groomer/src/pages/estimates/success/index.tsx
  apps/groomer/src/pages/index.tsx
  apps/groomer/src/pages/login/index.tsx
  apps/groomer/src/pages/mypage/index.tsx
  apps/groomer/src/pages/mypage/profile/index.tsx
  apps/groomer/src/queries/auth/index.ts
  apps/groomer/src/queries/query-keys.ts
  apps/vet/src/pages/chats/[chatRoomId]/index.tsx
  packages/core/design-system/src/components/dialog/index.tsx
  packages/core/design-system/src/components/input/index.tsx
  packages/core/design-system/src/components/text-field/index.styles.ts
  packages/services/src/components/estimate-detail/section/index.tsx
  packages/services/src/components/estimate-list/card/index.styles.ts
  packages/services/src/components/estimate-list/card/index.tsx
  packages/services/src/components/estimate-list/empty-state/index.styles.ts
  packages/services/src/components/estimate-list/empty-state/index.tsx
  packages/services/src/components/estimate-list/index.ts
  packages/services/src/utils/convert/index.ts
  packages/services/src/utils/index.ts
Labels: ♻️ refactor, 🪽 groomer

#380 [Task/storybook] 스토리북 배포 자동화
  .github/workflows/deploy-storybook.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  apps/storybook/vite.config.ts
  pnpm-lock.yaml
Labels: 📦 package, ✅ task

#381 [Story/groomer] 미용사는 마이 페이지에서 본인 샵에 대한 리뷰 목록을 관리할 수 있다
  apps/daengle/src/components/review/keyword-card/index.tsx
  apps/groomer/src/apis/index.ts
  apps/groomer/src/apis/review/index.ts
  apps/groomer/src/constants/commons/routes.ts
  apps/groomer/src/constants/index.ts
  apps/groomer/src/constants/review/index.ts
  apps/groomer/src/hooks/review/index.ts
  apps/groomer/src/hooks/review/use-intersection-load.ts
  apps/groomer/src/interfaces/review/index.ts
  apps/groomer/src/models/index.ts
  apps/groomer/src/models/review/index.ts
  apps/groomer/src/pages/estimates/pet-info/[id]/index.tsx
  apps/groomer/src/pages/mypage/reviews/index.tsx
  apps/groomer/src/pages/mypage/reviews/report/[id]/index.tsx
  apps/groomer/src/queries/query-keys.ts
  apps/groomer/src/queries/review/index.ts
  packages/core/design-system/public/icons/button_down_arrow.svg
  packages/core/design-system/public/icons/empty_star.svg
  packages/core/design-system/public/icons/filled_star.svg
  packages/core/design-system/src/components/chips/chip-toggle-button/index.styles.ts
  packages/core/design-system/src/components/chips/chip-toggle-button/index.tsx
  packages/core/design-system/src/icons/ButtonDownArrow.tsx
  packages/core/design-system/src/icons/EmptyStar.tsx
  packages/core/design-system/src/icons/FilledStar.tsx
  packages/services/src/components/estimate-detail/add-input/index.styles.ts
  packages/services/src/components/estimate-detail/add-input/index.tsx
  packages/services/src/components/review/card-list/index.styles.ts
  packages/services/src/components/review/card-list/index.tsx
  packages/services/src/components/review/card/index.styles.ts
  packages/services/src/components/review/card/index.tsx
  packages/services/src/components/review/index.ts
  packages/services/src/components/review/summary/index.styles.ts
  packages/services/src/components/review/summary/index.tsx
  packages/services/src/interface/index.ts
  packages/services/src/interface/review/index.ts
  pnpm-lock.yaml
Labels: 📖 story, 🪽 groomer

#382 [Refactor/services] HttpOnly Cookie를 이용한 토큰 재발급 로직 구현
  packages/services/src/apis/config/index.ts
Labels: ♻️ refactor, 📦 package

#384 [Story/daengle] 사용자는 미용샵 상세 정보를 확인할 수 있다
  apps/daengle/src/apis/detail/index.ts
  apps/daengle/src/components/groomers/profile-card/index.styles.ts
  apps/daengle/src/components/groomers/profile-card/index.tsx
  apps/daengle/src/components/main/groomer-list-component/index.tsx
  apps/daengle/src/constants/commons/routes.ts
  apps/daengle/src/models/detail/index.ts
  apps/daengle/src/pages/shops/[shopId]/index.tsx
  apps/daengle/src/queries/detail/index.ts
Labels: 📖 story, 🐶 daengle

#388 [Hotfix/daengle] Sentry 설정 변경
  apps/daengle/next.config.mjs
Labels: 🐛 bug, 🐶 daengle

#390 [Hotfix/daengle] 마이페이지 로그인 탭 추가
  apps/daengle/src/apis/auth/index.ts
  apps/daengle/src/apis/config/index.ts
  apps/daengle/src/components/chats/groomer-chat-list/index.tsx
  apps/daengle/src/components/chats/vet-chat-list/index.tsx
  apps/daengle/src/components/estimate/groomer-card-list/index.tsx
  apps/daengle/src/components/estimate/vet-card-list/index.tsx
  apps/daengle/src/components/onboarding/user-info/index.tsx
  apps/daengle/src/components/reservations/groomer-list/index.tsx
  apps/daengle/src/components/reservations/vet-list/index.tsx
  apps/daengle/src/models/auth/index.ts
  apps/daengle/src/pages/auth/kakao/callback/index.tsx
  apps/daengle/src/pages/index.tsx
  apps/daengle/src/pages/mypage/index.tsx
  apps/daengle/src/pages/mypage/user-profile/edit/index.tsx
  apps/daengle/src/queries/auth/index.ts
  apps/daengle/src/queries/main/index.ts
  packages/core/design-system/src/components/button/cta-button/index.styles.ts
Labels: 🐛 bug, 🐶 daengle

#393 [Story/daengle] 중복 결제를 막기위한 멱등키 생성
  apps/daengle/package.json
  apps/daengle/src/apis/payment/index.ts
  apps/daengle/src/pages/payments/complete/index.tsx
  apps/daengle/src/pages/payments/order/index.tsx
  packages/core/design-system/src/icons/SelectUnfoldActive.tsx
  packages/core/design-system/src/icons/SelectUnfoldInactive.tsx
  pnpm-lock.yaml
Labels: 📖 story, 🐶 daengle

#394 [Fix/daengle] 사용자 예약 리스트 누락 부분 추가
  apps/daengle/src/components/estimate/card-list/index.tsx
  apps/daengle/src/components/reservations/reservations-card/index.tsx
  apps/daengle/src/models/reservation/index.ts
  apps/daengle/src/pages/estimates/index.tsx
  apps/daengle/src/pages/reservations/[id]/index.tsx
  apps/daengle/src/pages/reservations/index.tsx
  packages/core/design-system/src/components/app-bar/index.styles.ts
  packages/services/src/components/estimate-detail/add-input/index.styles.ts
  packages/services/src/components/estimate-detail/add-input/index.tsx
Labels: 🐛 bug, 🐶 daengle

#397 [Design/groomer] 미용샵(마이샵) 상세 페이지 퍼블리싱
  apps/groomer/src/components/mypage/profile-card/index.styles.ts
  apps/groomer/src/components/mypage/profile-card/index.tsx
  apps/groomer/src/pages/mypage/shop/[id]/index.tsx
  packages/core/design-system/src/components/app-bar/index.styles.ts
Labels: 🎨 design, 🪽 groomer

#352 [Task/README] README 1차 수정
  README.md
Labels: 📝 docs, ✅ task

#402 [Story/daengle] 사용자는 미용사 상세 정보를 확인할 수 있다.
  apps/daengle/src/apis/detail/index.ts
  apps/daengle/src/constants/commons/routes.ts
  apps/daengle/src/models/detail/index.ts
  apps/daengle/src/pages/groomers/[groomerId]/index.tsx
  apps/daengle/src/pages/groomers/[groomerId]/porfolio/index.tsx
  apps/daengle/src/pages/vets/[vetId]/index.tsx
  apps/daengle/src/queries/detail/index.ts
  packages/core/design-system/src/components/app-bar/index.styles.ts
  packages/core/design-system/src/icons/index.ts
Labels: 📖 story, 🐶 daengle

#406 [Story/daengle] 사용자는 메인페이지에서 검색을 할 수 있다.
  apps/daengle/src/apis/index.ts
  apps/daengle/src/apis/search/index.ts
  apps/daengle/src/components/search/groomer-list/index.styles.ts
  apps/daengle/src/components/search/groomer-list/index.tsx
  apps/daengle/src/components/search/item/index.styles.ts
  apps/daengle/src/components/search/item/index.tsx
  apps/daengle/src/components/search/search-bar/index.tsx
  apps/daengle/src/components/search/tag-button/index.styles.ts
  apps/daengle/src/components/search/tag-button/index.tsx
  apps/daengle/src/components/search/vet-list/index.styles.ts
  apps/daengle/src/components/search/vet-list/index.tsx
  apps/daengle/src/constants/commons/routes.ts
  apps/daengle/src/constants/search/index.ts
  apps/daengle/src/interfaces/search/index.ts
  apps/daengle/src/models/index.ts
  apps/daengle/src/models/search/index.ts
  apps/daengle/src/pages/search/index.tsx
  apps/daengle/src/queries/query-keys.ts
  apps/daengle/src/queries/search/index.ts
  packages/core/design-system/public/icons/gray_search_icon.svg
  packages/core/design-system/src/components/app-bar/index.tsx
  packages/core/design-system/src/components/chips/chip-toggle-button/index.styles.ts
  packages/core/design-system/src/components/chips/chip-toggle-button/index.tsx
  packages/core/design-system/src/components/chips/chip-toggle-button/index.types.ts
  packages/core/design-system/src/components/tag/index.styles.ts
  packages/core/design-system/src/components/tag/index.tsx
  packages/core/design-system/src/components/tag/index.types.ts
  packages/core/design-system/src/foundation/colors.ts
  packages/core/design-system/src/icons/GraySearchIcon.tsx
  packages/core/design-system/src/icons/index.ts
Labels: 📖 story, 🐶 daengle

#409 [Feature/groomer] 미용사 예약관리 리스트 api 연동
  apps/daengle/src/components/estimate/card-list/index.tsx
  apps/daengle/src/pages/estimates/detail/[id]/index.tsx
  apps/daengle/src/pages/payments/complete/index.tsx
  apps/daengle/src/pages/payments/order/index.tsx
  apps/groomer/src/apis/reservation/index.ts
  apps/groomer/src/apis/review/index.ts
  apps/groomer/src/constants/commons/routes.ts
  apps/groomer/src/constants/pet/index.ts
  apps/groomer/src/constants/review/index.ts
  apps/groomer/src/interfaces/reservation/index.ts
  apps/groomer/src/interfaces/review/index.ts
  apps/groomer/src/models/reservation/index.ts
  apps/groomer/src/pages/estimates/[estimateId]/index.tsx
  apps/groomer/src/pages/estimates/pet-info/[id]/index.tsx
  apps/groomer/src/pages/estimates/pet-info/[petId]/index.tsx
  apps/groomer/src/pages/mypage/reviews/index.tsx
  apps/groomer/src/pages/mypage/reviews/report/[id]/index.tsx
  apps/groomer/src/pages/reservations/[id]/index.tsx
  apps/groomer/src/pages/reservations/[reservationId]/index.tsx
  apps/groomer/src/pages/reservations/index.tsx
  apps/groomer/src/queries/query-keys.ts
  apps/groomer/src/queries/reservation/index.ts
  packages/core/design-system/src/components/chips/chip-radio/index.styles.ts
  packages/core/design-system/src/components/chips/chip-radio/index.tsx
  packages/services/src/components/estimate-detail/pet-profile/index.tsx
  packages/services/src/components/index.ts
  packages/services/src/components/partner-pet-info/index.styles.ts
  packages/services/src/components/partner-pet-info/index.tsx
  packages/services/src/components/reservations/reservation-list/index.tsx
  packages/services/src/components/reservations/week-date-tabs/index.tsx
  packages/services/src/components/review/card/index.styles.ts
  packages/services/src/components/review/card/index.tsx
  packages/services/src/constants/pet/index.ts
  packages/services/src/interface/pet/index.ts
  packages/services/src/interface/review/index.ts
Labels: ✨ feature, 🪽 groomer

#410 [Story/groomer] 미용사는 예약관리를 할 수 있다
  apps/daengle/src/components/estimate/card-list/index.tsx
  apps/daengle/src/pages/estimates/detail/[id]/index.tsx
  apps/daengle/src/pages/payments/complete/index.tsx
  apps/daengle/src/pages/payments/order/index.tsx
  apps/groomer/src/apis/reservation/index.ts
  apps/groomer/src/apis/review/index.ts
  apps/groomer/src/constants/commons/routes.ts
  apps/groomer/src/constants/pet/index.ts
  apps/groomer/src/constants/review/index.ts
  apps/groomer/src/interfaces/reservation/index.ts
  apps/groomer/src/interfaces/review/index.ts
  apps/groomer/src/models/reservation/index.ts
  apps/groomer/src/pages/estimates/[estimateId]/index.tsx
  apps/groomer/src/pages/estimates/pet-info/[id]/index.tsx
  apps/groomer/src/pages/estimates/pet-info/[petId]/index.tsx
  apps/groomer/src/pages/mypage/reviews/index.tsx
  apps/groomer/src/pages/mypage/reviews/report/[id]/index.tsx
  apps/groomer/src/pages/reservations/[reservationId]/index.tsx
  apps/groomer/src/pages/reservations/index.tsx
  apps/groomer/src/queries/query-keys.ts
  apps/groomer/src/queries/reservation/index.ts
  apps/vet/src/interfaces/review/index.ts
  packages/core/design-system/src/components/chips/chip-radio/index.styles.ts
  packages/core/design-system/src/components/chips/chip-radio/index.tsx
  packages/services/src/components/estimate-detail/pet-profile/index.tsx
  packages/services/src/components/index.ts
  packages/services/src/components/partner-pet-info/index.styles.ts
  packages/services/src/components/partner-pet-info/index.tsx
  packages/services/src/components/reservations/reservation-list/index.tsx
  packages/services/src/components/reservations/week-date-tabs/index.tsx
  packages/services/src/components/review/card/index.styles.ts
  packages/services/src/components/review/card/index.tsx
  packages/services/src/constants/pet/index.ts
  packages/services/src/interface/pet/index.ts
  packages/services/src/interface/review/index.ts
Labels: 📖 story, 🪽 groomer

#411 [Task/apps] 2차 QA 진행
  apps/daengle/public/favicon.svg
  apps/daengle/src/apis/auth/index.ts
  apps/daengle/src/apis/config/index.ts
  apps/daengle/src/components/estimate/option/index.tsx
  apps/daengle/src/components/estimate/request/request-estimate/index.tsx
  apps/daengle/src/components/estimate/vet-card-list/index.tsx
  apps/daengle/src/components/groomers/profile-card/index.styles.ts
  apps/daengle/src/components/home/card/index.styles.ts
  apps/daengle/src/components/mypage/profile/select-pet/index.styles.ts
  apps/daengle/src/components/mypage/profile/select-pet/index.tsx
  apps/daengle/src/components/reviews/card/index.styles.ts
  apps/daengle/src/components/reviews/card/index.tsx
  apps/daengle/src/interfaces/auth/index.ts
  apps/daengle/src/models/auth/index.ts
  apps/daengle/src/models/detail/index.ts
  apps/daengle/src/pages/chats/index.tsx
  apps/daengle/src/pages/estimates/grooming/[groomerId]/index.tsx
  apps/daengle/src/pages/estimates/index.tsx
  apps/daengle/src/pages/estimates/request/[estimateId]/index.tsx
  apps/daengle/src/pages/groomers/[groomerId]/index.tsx
  apps/daengle/src/pages/groomers/[groomerId]/porfolio/index.tsx
  apps/daengle/src/pages/groomers/[groomerId]/reviews/index.tsx
  apps/daengle/src/pages/index.tsx
  apps/daengle/src/pages/mypage/index.tsx
  apps/daengle/src/pages/mypage/pet-profile/edit/index.tsx
  apps/daengle/src/pages/mypage/pet-profile/index.tsx
  apps/daengle/src/pages/shops/[shopId]/index.tsx
  apps/daengle/src/pages/vets/[vetId]/index.tsx
  apps/daengle/src/queries/auth/index.ts
  apps/daengle/src/queries/estimate/index.ts
  apps/daengle/src/queries/query-keys.ts
  apps/groomer/public/favicon.svg
  apps/groomer/src/components/estimate/designation-card-list/index.styles.ts
  apps/groomer/src/components/estimate/general-card-list/index.styles.ts
  apps/groomer/src/pages/mypage/index.tsx
  apps/vet/public/favicon.svg
  apps/vet/src/pages/mypage/index.tsx
  packages/core/design-system/src/components/chat/input-form/index.tsx
Labels: 🐛 bug, 🪽 groomer, 🐶 daengle, 🏥 vet

#415 [Feature/daengle] 상세 페이지에 SSR 적용
  apps/daengle/src/pages/groomers/[groomerId]/index.tsx
  apps/daengle/src/pages/shops/[shopId]/index.tsx
  apps/daengle/src/pages/vets/[vetId]/index.tsx
  apps/daengle/src/queries/chat/index.ts
Labels: ✨ feature, 🐶 daengle
